p.impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4B4343;
    font-size: 50px;
    text-align: center;
}

p.fantasy{
    font-family:fantasy;
    text-align: center;
    font-size: 40px;
}

a {
    font-family: monospace;
    text-decoration: none;
    font-weight: none;
  }

a:link {
    color: blue;
}
a:visited {
    color: Red;
}
a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}
a:active {
    font-weight: bold;
}

ul {
    text-align: center;
    font-style: italic;
    list-style-position: inside;
}

.table-striped tbody tr:nth-child(odd) td {
   background-color:lemonchiffon;
}

.table-striped tbody tr:nth-child(even) td {
    background-color: white;
}

table caption {
    font-size: 20px;
    font-weight: bold;
}
  
thead{
    background-color: grey;
    font-size: 20px;
    font-weight: bold;
}
